
@use "../abstract/variable" as *;

h1{
    font-family: $font-primary;
    backface-visibility: hidden;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 5rem;
    color: white;
}

h2{
    color: #3F699D;
    font-family: inherit;
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 2rem;
   
}