// so this abstract folder in which we have not a output any css

// font variable name
$font-primary: 'Poppins', sans-serif;
$font-display: 'Inter', sans-serif;

// color variable name
$color-primary: #4682B4;
$color-primary-dark: #3F699D;
$color-primary-light: #ECF2F7;

$color-secondary :  linear-gradient(90deg, #ff6f61, #FF8C61);
$color-secondary-dark :  linear-gradient(90deg, #E86255, #ED4E13);


$color-text : black;

// font-size
$Defaultfont-size : 1.6rem;